/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.code-to-image-wrap {
	position: relative;
}

.markdown-rendered pre:not(:hover) > button.code-to-image-button {
	display: none;
}
.markdown-rendered button.code-to-image-button:hover {
	background-color: var(--background-modifier-hover);
}
.markdown-rendered button.code-to-image-button {
	margin: 6px;
	padding: 6px 8px;
	height: auto;
	background-color: transparent;
	box-shadow: none;
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
	font-family: var(--font-interface);
	position: absolute;
	top: 0;
	right: 40px;
}
.shared-as-image-modal {
	padding: 0;
	width: var(--modal-width);
	max-height: var(--modal-max-height);
}

.cti-select-dropdown {
	height: 1.75rem !important;
	outline: none !important;
	box-shadow: none !important;
}
/* Codemiorror */
.cm-editor.cm-focused {
  outline: none !important;
}
.cm-activeLineGutter {
	background-color: transparent !important;
}
.cm-editor .cm-lineNumbers {
	background-color: transparent !important;
}
.cm-gutters {
	background-color: transparent !important;
}
