/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.code-to-image-wrap {
	position: relative;
}

.code-to-image-wrap:hover .code-to-image_button {
	opacity: 1;
}

.code-to-image_button {
	position: absolute;
	top: -30px;
	right: 0;
	opacity: 0;
	transition: opacity 0.25s;
	cursor: pointer;
}
.code-to-image-modal {
	width: var(--modal-width);
	max-width: var(--modal-max-width);
	max-height: var(--modal-max-height);
}

.cti-select-dropdown {
	height: 1.75rem !important;
	outline: none !important;
	box-shadow: none !important;
}
/* Codemiorror */
.cm-editor.cm-focused {
  outline: none !important;
}
