@font-face {
	font-family: Comic Mono;
	font-weight: normal;
	src: url("https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/ComicMono.ttf");
}
@font-face {
	font-family: Comic Mono;
	font-weight: bold;
	src: url(https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/ComicMono-Bold.ttf);
}
